# IDE
.idea/

# Python
__pycache__/
*.pyc

# Playwright / pytest artifacts
test-results/
playwright-report/
screenshots/
*.webm
*.zip
.pytest_cache/

# Virtualenv
.venv/

# Local env
.env

# Reports
report.html

# Allure (generated artifacts)
allure-results/
allure-report/

# Playwright auth state
.auth/

.DS_Store
**/.DS_Store